{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tsxSingleQuote": true,
  "tsxBracketSameLine": false,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-pkg"]
}